<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grocerylist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <!-- Intro screen -->
        <activity
            android:name=".intro"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

              <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            
            </intent-filter>
        </activity>
        
        <!-- GroceryList Activity -->
        <activity
            android:name=".GroceryList"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

              <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            
            </intent-filter>
        </activity>
        
        <!-- AboutClass Activity -->
        <activity
            android:name=".AboutClass" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

              <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            
            </intent-filter>
        </activity>
        
        <!-- RecipeClass Activity -->
        <activity
            android:name=".RecipeClass"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

              <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            
            </intent-filter>
        </activity>
        
        <!-- ViewRecipe Class Activity -->
        <activity
            android:name=".ViewRecipe"
            android:label="@string/app_name"
            android:parentActivityName=".RecipeClass"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecipeClass"
                />"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

              <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            
            </intent-filter>
        </activity>
    </application>

</manifest>